In [1]:
import pandas as pd
import geonamescache  as gcn
import re as r

In [2]:
headline = open("headlines.txt","r")

In [3]:
f_array = []
fw_array = []
j= []
p = []
clean_array = []
y =0

with open('headlines.txt') as my_file:
    f_array = my_file.read().split('\n')
    my_file.close() 

for i in f_array:
    j = i
    x = j.split()
    fw_array.append(x)

clean_array = fw_array

for k in range(len(fw_array)):
    for l in range(len(fw_array[k])):
        #print(fw_array[k][l])
        az = r.sub(r'[^a-zA-Z ]', '',fw_array[k][l])
        clean_array[k][l] = az

#print(clean_array)


final_array = f_array

for k in range(len(f_array)):
        #print(fw_array[k][l])
        az = r.sub(r'[^a-zA-Z ]', '',f_array[k])
        final_array[k] = az
        
#print(final_array)

In [4]:
import csv
import pandas as pd
from pandas import DataFrame
import geonamescache
gc = geonamescache.GeonamesCache()

data = {'headline':[], 'countries':[],'cities':[] }
countries = [e for e in gc.get_countries_by_names().keys()]

def runmycode(a, b):
    for o in range(a, b): 
        countryfound = False
        cityfound = False
        poss_cty = []
        poss_ctry = []
        cty = ""
        ctry = "" 
        for s in range(len(clean_array[o])):       
#COUNTRIES LOGIC        
            if (clean_array[o][s] in countries) :
                ci = clean_array[o][s]
                poss_ctry.append(ci)
                if (not cityfound):
                    ctry1 = clean_array[o][s]
                    while (s < len(clean_array[o])-2):     
                        s = s + 1
                        ctry1 = ctry1 + " " + clean_array[o][s]
                        if (gc.get_cities_by_name(cty1) != [])  :
                            ci = ctry1
                            poss_cty.append(ci)
                            ctry1 = clean_array[o][s]
                            
            else:
                ctry = clean_array[o][s]
                while (s <= len(clean_array[o])-1):     
                    if (ctry in countries)  :
                        ci = ctry
                        poss_ctry.append(ci)
                        s = s + 1
                    else:
                        if (s <= len(clean_array[o])-2):
                            ctry = ctry + " " + clean_array[o][s+1]
                        s = s + 1        
#CITIES LOGIC
        cityfound = False
        poss_cty = []
        cty = ""
        for s in range(len(clean_array[o])): 
            if ((gc.get_cities_by_name(clean_array[o][s])) != []) :
                ci = clean_array[o][s]
                poss_cty.append(ci)
                if (not cityfound):
                    cty1 = clean_array[o][s]
                    if s < (len(clean_array[o]) - 1):
                        while (s < len(clean_array[o]) - 2):     
                            s = s + 1
                            cty1 = cty1 + " " + clean_array[o][s]
                            if (gc.get_cities_by_name(cty1) != []):
                                ci = cty1
                                poss_cty.append(ci)
                                cty1 = clean_array[o][s]

            else:
                cty = clean_array[o][s]
                while (s <= len(clean_array[o])-1):     
                    if ((gc.get_cities_by_name(cty)) != [])  :
                        ci = cty
                        poss_cty.append(ci)
                        s = s + 1
                    else:
                        if (s <= len(clean_array[o])-2):
                            cty = cty + " " + clean_array[o][s+1]
                        s = s + 1                           
                    
#determining final city                    
        if (len(poss_cty) !=0):
            x = len(poss_cty)
            initial = 0
            final = 0
            final_j = 0
            j = 0
            while j < x:
                initial = len(str(poss_cty[j]))
                if initial > final:
                    final = initial
                    final_j = j
                j = j + 1
            data['cities'].append(poss_cty[final_j])
#determining final country         
        if (len(poss_ctry) !=0):
            x = len(poss_ctry)
            initial = 0
            final = 0
            final_j = 0
            j = 0
            while j < x:
                initial = len(str(poss_ctry[j]))
                if initial > final:
                    final = initial
                    final_j = j
                j = j + 1
            data['countries'].append(poss_ctry[final_j])
                
### add to data dictionary                
        data['headline'].append(final_array[o])
        if (len(data['headline']) != len(data['cities'])):
            data['cities'].append('NaN')
        if (len(data['headline']) != len(data['countries'])):
            data['countries'].append('NaN')

runmycode(0,650)

#publish as dataframe

df = pd.DataFrame.from_dict(data)
#print(df)
df.head(10)

                                  headline countries         cities
0                 Zika Outbreak Hits Miami       NaN          Miami
1           Could Zika Reach New York City       NaN  New York City
2        First Case of Zika in Miami Beach       NaN          Miami
3   Mystery Virus Spreads in Recife Brazil    Brazil         Recife
4  Dallas man comes down with case of Zika       NaN         Dallas
5        Trinidad confirms first Zika case       NaN       Trinidad
6   Zika Concerns are Spreading in Houston       NaN        Houston
7    Geneve Scientists Battle to Find Cure       NaN            NaN
8    The CDC in Atlanta is Growing Worried       NaN        Atlanta
9       Zika Infested Monkeys in Sao Paulo       NaN            NaN

In [41]:
#print(data)
gc.get_cities_by_name("Trinidad")

[{'3902377': {'geonameid': 3902377,
   'name': 'Trinidad',
   'latitude': -14.83333,
   'longitude': -64.9,
   'countrycode': 'BO',
   'population': 84259,
   'timezone': 'America/La_Paz',
   'admin1code': '03'}},
 {'3534915': {'geonameid': 3534915,
   'name': 'Trinidad',
   'latitude': 21.80224,
   'longitude': -79.98467,
   'countrycode': 'CU',
   'population': 60206,
   'timezone': 'America/Havana',
   'admin1code': '14'}},
 {'3439748': {'geonameid': 3439748,
   'name': 'Trinidad',
   'latitude': -33.5165,
   'longitude': -56.89957,
   'countrycode': 'UY',
   'population': 21429,
   'timezone': 'America/Montevideo',
   'admin1code': '06'}}]

In [6]:
df["latitude"] = ""
df["longitude"] = ""
df["country_cd"] = ""

In [60]:
#data_final = {'headline':[], 'countries':[],'cities':[] , 'latitude':[], 'longitude': []}
df_lat = []
df_long = []
df_ctrycd = []
#c = gc.get_cities_by_name("Florida")
#i = 0

#a_list - main list of geonamescache    
#a_dict - first dictionary
#a2_dict - 2nd nested dictionary

for i in df.index:
    a_list = gc.get_cities_by_name(df['cities'][i])
    for word in a_list:
        a_dict = word
        if len(a_list) == 1:
            for key, value in a_dict.items():
                x_lat_f = value['latitude']
                x_long_f= value['longitude']
                x_ctrycd_f = value['countrycode']
        else:
            j = 0
            x_pop_f = 0
            a_f = 0
            x_pop = 0
            while j < len(a_list):
                for keys in a_list[j]:
                    keys = str(keys)
                    x_pop = (a_list[j][keys]['population'])
                    if x_pop > x_pop_f:
                        a_f = a_list[j][keys]['geonameid']
                        x_pop_f = a_list[j][keys]['population']
                        x_lat_f = a_list[j][keys]['latitude']
                        x_long_f = a_list[j][keys]['longitude']
                        x_ctrycd_f = a_list[j][keys]['countrycode']
                j = j + 1
                    

    if (x_lat_f != []):
        df_lat.append(x_lat_f)
    else:
        df_lat.append('NaN')
    if (x_long_f != []):
        df_long.append(x_long_f)
    else:
        df_long.append('NaN')
    if (x_ctrycd_f != []):
        df_ctrycd.append(x_ctrycd_f)
    else:
        df_ctrycd.append('NaN')
    
df['latitude'] = df_lat
df['longitude'] = df_long
df['countrycode'] = df_ctrycd
del df['countries']

df

,headline,cities,latitude,longitude,country_cd,countrycode
0,Zika Outbreak Hits Miami,Miami,25.77427,-80.19366,,US
1,Could Zika Reach New York City,New York City,40.71427,-74.00597,,US
2,First Case of Zika in Miami Beach,Miami,25.77427,-80.19366,,US
3,Mystery Virus Spreads in Recife Brazil,Recife,-8.05389,-34.88111,,BR
4,Dallas man comes down with case of Zika,Dallas,32.78306,-96.80667,,US
5,Trinidad confirms first Zika case,Trinidad,-14.83333,-64.90000,,BO
6,Zika Concerns are Spreading in Houston,Houston,29.76328,-95.36327,,US
7,Geneve Scientists Battle to Find Cure,NaN,29.76328,-95.36327,,US
8,The CDC in Atlanta is Growing Worried,Atlanta,33.74900,-84.38798,,US
9,Zika Infested Monkeys in Sao Paulo,NaN,33.74900,-84.38798,,US
10,Brownsville teen contracts Zika virus,Brownsville,25.90175,-97.49748,,US
11,Mosquito control efforts in St Louis take new ...,NaN,25.90175,-97.49748,,US
12,San Juan reports st US Zikarelated death amid ...,San Juan,-31.53750,-68.53639,,AR
13,Flu outbreak in Galveston Texas,Galveston,29.30135,-94.79770,,US
14,Zika alert Manila now threatened,Manila,14.60420,120.98220,,PH
15,Zika afflicts in Iloilo City,Iloilo,10.69694,122.56444,,PH
16,New Los Angeles Hairstyle goes Viral,Los Angeles,34.05223,-118.24368,,US
17,Louisiana Zika cases up to,NaN,34.05223,-118.24368,,US
18,Orlando volunteers aid Zika research,Orlando,28.53834,-81.37924,,US
19,Zika infects pregnant woman in Cebu,NaN,28.53834,-81.37924,,US
20,Chicagos First Zika Case Confirmed,NaN,28.53834,-81.37924,,US
21,Tampa Bay Area Zika Case Count Climbs,Tampa,27.94752,-82.45843,,US
22,Bad Water Leads to Sickness in Flint Michigan,Flint,43.01253,-83.68746,,US
23,Baltimore plans for Zika virus,Baltimore,39.29038,-76.61219,,US
24,London Health Unit Tracks Mad Cow Disease,London,51.50853,-0.12574,,GB
25,Zika cases in Vietnams Ho Chi Minh City surge,Ho Chi Minh City,10.82302,106.62965,,VN
26,Philadelphia experts track pandemic,Philadelphia,39.95233,-75.16379,,US
27,Flu season hits Boston,Boston,42.35843,-71.05977,,US
28,Scientists in Paris to look for answers,Paris,48.85341,2.34880,,FR
29,Key Zika Findings in San Diego Institute,San Diego,32.71571,-117.16472,,US
...,...,...,...,...,...,...
620,How to Avoid Chikungunya in Hampton,Hampton,37.02987,-76.34522,,US
621,Zika Reported in Sao Jose,NaN,37.02987,-76.34522,,US
622,Case of Norovirus Reported in Stratford,Stratford,41.18454,-73.13317,,US
623,How to Avoid Hepatitis E in South Bend,South Bend,41.68338,-86.25001,,US
624,Hepatitis C Outbreak in Bethlehem,Bethlehem,-28.23078,28.30707,,ZA
625,Davenport is infested with Dengue,Davenport,41.52364,-90.57764,,US
626,Rumors about Swine Flu spreading in Suzhou hav...,Suzhou,31.30408,120.59538,,CN
627,Malaria Vaccine is now Required in Elyria,Elyria,41.36838,-82.10765,,US
628,Zika case reported in Antioquia,NaN,41.36838,-82.10765,,US
629,Case of Swine Flu Reported in Tbilisi,Tbilisi,41.69411,44.83368,,GE
630,Chikungunya has not Left Pismo Beach,NaN,41.69411,44.83368,,GE
631,Zika spreads to La Joya,NaN,41.69411,44.83368,,GE
632,Influenza Keeps Spreading in Suffolk,Suffolk,36.72836,-76.58496,,US
633,More people in Allentown are infected with Chl...,Allentown,40.60843,-75.49018,,US
634,Mad Cow Disease reemerges in Bedford,Bedford,52.13459,-0.46632,,GB
635,Authorities are Worried about the Spread of He...,Yiwu,29.31506,120.07676,,CN
636,Zika Outbreak in Yurimaguas,Yurimaguas,-5.90181,-76.12234,,PE
637,Dengue Outbreak in Easton,Easton,40.68843,-75.22073,,US
638,Varicella has Arrived in Milton,Milton,43.51681,-79.88294,,CA
639,New medicine wipes out Meningitis in Sevilla,Sevilla,37.38283,-5.97317,,ES
640,Authorities are Worried about the Spread of Va...,Clovis,36.82523,-119.70292,,US
641,More Zika patients reported in Fort Worth,Fort Worth,32.72541,-97.32085,,US
642,Zika symptoms spotted in Boynton Beach,Boynton Beach,26.52535,-80.06643,,US
643,Outbreak of Zika in Portoviejo,Portoviejo,-1.05458,-80.45445,,EC
644,Influenza Exposure in Muscat,Muscat,23.58413,58.40778,,OM
645,Rumors about Rabies spreading in Jerusalem hav...,Jerusalem,31.76904,35.21633,,IL
646,More Zika patients reported in Indang,Indang,14.19528,120.87694,,PH
647,Suva authorities confirmed the spread of Rotav...,Suva,-18.14161,178.44149,,FJ
648,More Zika patients reported in Bella Vista,Bella Vista,18.45539,-69.94540,,DO
649,Zika Outbreak in Wichita Falls,Wichita,37.69224,-97.33754,,US